@charset "utf-8";
/* CSS Document */
@import 'common.css';

.main{}
.padding{ padding-top:35px;}
.main .mainall{ overflow:hidden;}
.main .mainleft { width:235px; float:left; margin-left: 10px; display: inline;}
.main .mainleft h2 {height: 25px; line-height: 25px; background:url(../images/newstitlebg.gif) no-repeat 0 center; font-size: 14px; font-weight: bold; text-align: left; padding-left: 22px;}
.mainleft .imgplayer { margin-top: 10px;}
.main .mainleft h2 span,.main .mainmiddlecommon h2 span,.mainright h2 span { float: right;}
.main h2 span img { margin-top: 10px; display: inline;}
.main .mainmiddle { width: 430px; margin-left: 37px;}
.main .mainmiddle h2 {height: 25px; line-height: 25px; background:url(../images/producttitlebg.gif) no-repeat 0 center; font-size: 14px; font-weight: bold; text-align: left; padding-left: 22px;}
.main .newslist ul{ padding-top:10px;}
.main .newslist ul li{ text-align:left; height:22px; line-height:22px;}
.main .newslist ul li a{color:#747474;}
.main .mainright { width:235px; float:left; margin-left: 37px; display: inline;}
.main h2 span img { margin-top: 10px; display: inline;}
.main .mainright h2 {height: 25px; line-height: 25px; background:url(../images/en_titlebg.gif) no-repeat 0 center; font-size: 14px; font-weight: bold; text-align: left; padding-left: 22px; color: #353535;}
.main .pro_pic{ width:80px; height:70px;}
.main .pro_title{ width:150px; height:70px; overflow:hidden;}
.activecommon{ padding: 10px 0px; border-bottom: 1px dashed #D8D8D8;}
.activecommon .pro_title h3 { font-size: 12px; font-weight: bold; text-align: left; color: #353535; line-height: 25px;}
.activecommon .pro_title p{ margin-top: 0px; color: #8C8C8C; line-height:20px;}
.activecommon .pro_title p a{color: #8C8C8C;}
.main .mainright .none { border: none;}
.main .pro_tab{ padding:10px 0;}
#fold-right .tabbtn{BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; background:#FFFFFF url(../images/pro_tab.gif) no-repeat center bottom; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid}
#fold-right .tabcur{background:#FFFFFF url(../images/pro_tabcur.gif) no-repeat center bottom;}
#fold-right .tabcont,.main .pro_tab dd {BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 0px;BORDER-LEFT: #fff 1px solid; WIDTH: 350px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 100px}
#fold-right .tabfold {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none;BORDER-BOTTOM-STYLE: none}
#fold-right2 .tabbtn {BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; background:#FFFFFF url(../images/pro_tab.gif) no-repeat center bottom; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid}
#fold-right2 .tabcur {background:#FFFFFF url(../images/pro_tabcur.gif) no-repeat center bottom;}
#fold-right2 .tabcont {BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 0px; BORDER-LEFT:#fff 1px solid; WIDTH: 350px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 100px}
#fold-right2 .tabfold {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none}
.pro_tab DL .tabbtn {BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 100px; TEXT-ALIGN: center}
.main .pro_tab dl dt{ cursor:pointer;}
.main .pro_tab dl dt span{ position:relative; top:78px; font-family:"Microsoft YaHei", SIMHEI, sans-serif; font-size:14px; color:#FFFFFF; font-weight:bold;}
.main .pro_tab .pro_tabpic{ height:90px; width:90px; overflow:hidden; line-height:100px; margin:5px;}
.main .pro_tab .pro_tabcon{ height:100px; width:240px; overflow:hidden;}
.main .pro_tab .pro_tabcon h3 { font-size: 12px; font-weight: bold; text-align: left; color: #353535; line-height:20px; padding:5px 10px 0 5px; margin-bottom:4px;}
.main .pro_tab .pro_tabcon p{ margin-top: 0px; color: #8C8C8C; padding:0 10px 0px 5px; line-height:20px;}
.main .pro_tab .pro_tabcon p a{color: #8C8C8C;}

.main .tab{ padding:0 15px 15px; padding-bottom:0px;}
.main .tab #tabnav02{height:25px;}
.main .tab #tabnav02 li{float:left;width:73px;height:25px;line-height:25px;cursor:pointer;margin:0 2px 0 0;display:inline;background:url(../images/b_tab.gif) no-repeat center center;}
.main .tab #tabnav02 li.current{background:url(../images/b_tabcurrent.gif) no-repeat center center; color:#ffffff;}
.main .tab .tabcon{display:none;border-top:1px solid #1067C1; text-align:left; overflow:hidden; height:51px; background:url(../images/mainbg.gif) no-repeat 0 0;}
.main .tab .block{display:block;}
.main .tab .tab_link{ padding:5px 10px; overflow:hidden;}
.main .tab .tab_link li{ float:left; background:none; color:#747474; padding:0 10px; height:25px; line-height:25px; display:inline-block;}
.main .tab .tab_link li a{ color:#747474; height:25px; line-height:25px; white-space:nowrap; *display:inline; *zoom:1;}

/* бҳ */
.listleft{ width:169px;  position:relative; z-index:1000; margin-bottom:15px;}
.listleft h3{ width:169px; height:40px; line-height:40px; background:url(../images/aboutba.gif) no-repeat center center; font-size:14px; font-weight:bold; color:#FFFFFF; position:absolute; top:-33px; z-index:1000;}
.listleft h3 span{ font-size:14px; color:#6EABEC; margin-left:10px;}
.listright{ width:831px; overflow:hidden; background:url(../images/mainbg.gif) no-repeat 0 0;}
.listrightcontent { margin: 0px 12px 0px 8px;}
.listrightcontent h2{ font-size: 16px; height:20px; overflow:hidden; font-weight: bold; text-align: left; color:#173688; padding: 25px 0px 5px 0px; border-bottom: 2px solid #1382DB;}
.listrightcontent h2 span { float:right; font-size: 12px; color:#585858;}
.listrightcontent ul {margin: 15px 20px;}
.listrightcontent ul li { text-align: left; height: 36px; line-height: 36px; border-bottom: 1px dashed #CCCCCC;}
.listrightcontent ul li span.fl { font-weight: bold; margin-right:16px;}
.listrightcontent ul li span.fr { font-weight: bold; }
.listrightcontent ul li span.fr a { background: none; display: inline; color:#A6A6A6;}
.listrightcontent ul li a {font-weight: bold; color:#505050; background:url(../images/sanjiao.gif) left center no-repeat; padding-left: 8px; }

#menu { width:167px; margin:auto; border:1px solid #D6D6D6; border-top:none; border-bottom:none; padding-top:5px; min-height:500px; height:auto !important; _height:500px;}
#menu h1 { font-size:14px; margin-top:1px; border-bottom:1px solid #D6D6D6;}
#menu h1 a{ font-size:14px; border:none; margin-top:1px; background:#EFEFEF url(../images/rightarrow.jpg) center center no-repeat;padding-left: 30px;text-align: left; }
#menu h2 {}
#menu h2 a{ font-size:12px; padding-left: 25px;text-align: left; background: #FFFFFF; padding-right:8px;background: #FFFFFF url(../images/righticon.gif) 145px center no-repeat; }
#menu ul { border-bottom:#D6D6D6 1px solid; border-left:none;overflow:hidden; }
#menu ul a{ margin:0 10px;border-top: 1px dashed #CCCCCC; }
#menu ul a.nb_line{ border:none;}
#menu a { display:block; padding:5px 0 5px 0px; text-decoration:none; overflow:hidden; text-align:left; padding-left:28px; }
/*#menu a:hover{ color:#6F0; background:#000;}*/
#menu .no {display:none;}
#menu .show a{ background:#EFEFEF url(../images/downarrow.jpg) center center no-repeat; }
#menu .h1 a.menucurrent{color:#173688; font-weight:normal;}
#menu .h1 a{color:#173688; background:#EFEFEF url(../images/downarrow.jpg) center center no-repeat; }
#menu .h2 a{color:#605F5F; font-weight:bold;background: #FFFFFF url(../images/downicon.jpg) 145px center no-repeat; }
#menu .showh2 a{color:#605F5F; font-weight:bold;background: #FFFFFF url(../images/downicon.jpg) 145px center no-repeat; }
#menu h1 a{color:#505050;}
#menu a i{ font-style:normal;}
#menu a.menucurrent{ color:#173688; font-weight:bold;}
.menubottom{ height:32px; width:169px; background:url(../images/tb_bottombg.gif) center top no-repeat;}

/* վƷбҳ */
.pro_list{ padding-top:25px;}
.pro_list h2{ background:url(../images/c_titlehbg.gif) no-repeat center center; height:799px; height:26px; line-height:26px; text-align:left; padding-left:30px; color:#FFFFFF; font-size:14px; font-weight:bold; margin-bottom:10px;}
.flo{ text-align:left;}
.flo table{ margin-top:20px; margin:20px 30px 0 30px;}
.flo table tr td{ width:165px;}
.flo table tr td p{ color:#707070; font-weight:bold; padding:5px; text-align:center;}
.pro1{ background:url(../images/c_titlebg.gif) no-repeat; margin:0 30px;}
.pro1 span{ background:#FFFFFF; padding:0 5px;}
.zt{ font-weight:bold; font-size:14px; padding-left:22px;}
.tu1{ padding:20px;}
.zt1{ font-weight:bold;}
.zt2{ font-weight:bold; font-size:14px; padding-left:22px;}

/* Ʒϸҳ */
.prodetail_title{ margin:30px;}
.prodetail_title h4{ font-size:20px; text-align:left; font-weight:bold;}
.prodetail_title p{}
.prodetail_content { margin:20px 10px 20px 30px; overflow:hidden; color:#000000;}
.prodetail_content img{ border:none 0px;}
.prodetail_pic{ height:160px; width:230px;}
.prodetail_con{ width:520px; margin-right:20px;}
.prodetail_con p{ line-height:22px;}
.prodetailcon_title{ font-size:14px; font-weight:bold;}

.box{text-align:left; overflow:hidden; margin-top:30px;}
.box ul li{padding:0 10px; line-height:22px;}
.box ul{padding:10px 0;}
.box ul li a{ font-size:14px; color:#232323; }
.box ul li a:hover{ font-size:14px; color:#1F376D; }
.box h3{ text-align:left; font-size:14px; font-weight:bold; color:#747474; background:url(../images/prodetailh_bg.jpg) repeat-x 0 bottom; height:27px; padding-left:30px;}
.box h3 span em.current i{ padding:0 0 0 10px;background:url(../images/tab_current.gif) no-repeat scroll left center transparent;}
.box h3 span em.current b{background:url(../images/tab_current.gif) no-repeat scroll right center transparent; padding:0 10px 0 0; font-size:14px; font-weight:bold;font-size:14px;}
.box h3 i,.box h3 b { cursor: pointer;display:inline-block;height:27px;line-height:27px;font:normal;font-style:normal; font-weight:normal;}
.box h3 em{ cursor: pointer;display:inline-block;height:27px;line-height:27px;font:normal;font-style:normal; padding:0 10px;}
.box ul li span{ color:#858383;}
.box h3 a{font-size:12px; color:#1F376D;height:35px; line-height:35px; display:block;  padding-right:15px; font-weight:normal;}
.box h3 .more{ width:70px; text-align:right;}
.box h3 .more a{font-size:12px; color:#1F376D;height:35px; line-height:35px; display:block;  padding-right:15px; font-weight:normal;}
.box .tabcon,.box .tabcon1,.box h3 .more a.tabcon2,.box h3 .more a.tabcon3{display:none;}
.box .block,.box .block1,.box h3 .more a.block2,.box h3 .more a.block3{display:block;}
.box .tabcon ul li{ padding:0px; list-style:disc outside none;}
.box .tabcon ul{ padding:0px 0px 0px 20px;}
.box .tabcon ol{ padding-left:24px; margin:5px 0px;}
.box .tabcon ol li{ padding:0px; list-style:decimal outside none}

.box .tabcon{ margin:20px 0;}
.protabdetail_pic{ height:115px; width:135px;}
.protabdetail_con{ width:620px; margin-right:20px;}
.protabdetail_con p{ line-height:22px;}


/* ϸҳ */
.procon_title{ margin:20px; border-bottom:1px dashed;}
.procon_title h5{ font-size:18px; font-weight:bold; word-break:keep-all;}
.procon_title p{ text-align:center;}
.procon_content { margin:10px 40px; line-height:24px; color:#000000; text-align:left;}
.procon_content div,.procon_content p{ word-break: keep-all; *word-break: break-all; *text-justify:newspaper ; *text-align:justify;}
.procon_content div *{ text-align:left; text-justify:auto;}
.procon_content p a{ color:#0000EE;}
.procon_content .nobr{ white-space : nowrap ;}
.procon_content ul{ padding-left:20px;}
.procon_content ul li{ list-style:disc outside none;}
.procon_content ol { margin:0px; padding-left:24px;}
.procon_content ol li{list-style:decimal outside none}

.pagebar{ text-align:right; margin:30px;}

/* ҳbanner */
.banner .banner_tab .on,.question,.often,.question_q a{background:url(../images/index_bg.png) no-repeat;}
.banner{width:1013px; position:relative; text-align: left; z-index:999; margin-bottom:1px;}
.banner_tab{height:80px; position:absolute; right: 30px; bottom: -35px;}
.banner_tab ul {cursor:pointer;}
.banner_tab li { float: left; list-style-type: none;text-align: center;  margin-left:15px; _display:inline; height:70px; background:url(../images/shadowbg.gif) no-repeat center bottom;}
.banner_tab a { width:55px; display:block; padding:2px; padding-bottom:0px;}
.banner_tab  img{}
.hidecontent {display:none;}
.banner .banner_tab .on{ background:url(../images/shadowcurrentbg.gif) no-repeat center bottom;}
.banner .banner_tab .on a{background:url(../images/playcurrentbg.gif) no-repeat center top; padding-bottom:2px; }
.banner .banner_tab .on img{}
.out{}
.clear{ clear:both;}
.content{margin:0 auto;background:url(content_bg.png) repeat-x top;border-left:1px solid #bad1de;border-right:1px solid #bad1de;}
.tab_img{}


/*产品列表页样式添加*/
.imgbor{ border:1px solid #cccccc;}
.productList dl{ padding:15px; overflow:hidden;  _height:1%; _overflow:visible; margin-top:35px; border-bottom:1px solid #cccccc;}
.productList dl dt{ float:left; width:200px;}
.productList dl dd{ margin-left:200px; font-size:14px; font-weight:bold; text-align:left;}
.productList dl dd a{ color:#333333;}
.productList .proName a{ color:#333333; font-size:14px; font-weight:bold;}
.productList dl dd.detail,.productList .introdetail{ line-height:2; padding-top:8px; font-weight:normal; font-size:12px; color:#000000; text-indent:30px;}
.productInfo{ padding:10px 16px;}


/*客户支持页面样式添加*/
.support_con{ padding:30px 10px 30px 30px; text-align:left; font-family:"微软雅黑";}
.support_con .words{ width:390px; padding-top:35px;}
.support_con .words .title{ padding-left:60px; height:36px; line-height:36px; font-weight:bold; font-size:26px;   color:#333333; background:url(../images/noticebg.gif) no-repeat left center;}
.support_con .words .intro{ padding-top:10px; text-align:left; font-size:14px; color:#333333;}
.support_con .words .phoneandemail{ border:1px solid #efefef; background:#fafafa; color:#666666; font-size:12px; padding:12px; margin-top:18px; text-align:left; line-height:2.0;}
.support_con .words .phoneandemail .phone{ padding-left:26px; background:url(../images/phone.gif) no-repeat 6px center; }
.support_con .words .phoneandemail .email{padding-left:26px; background:url(../images/emailbg.gif) no-repeat left center;}
.support_con .showimg{ width:331px; padding:22px 0px 0px 15px; background:url(../images/imgbg.gif) no-repeat left top; text-align:left; height:231px;}
.support_con .Wrapcon { padding-top:30px;}
.support_con .Wrapcon dl dt{ border-bottom:1px dashed #cccccc; background:url(../images/icon.gif) no-repeat 4px center; height:36px; line-height:36px; padding-left:15px; font-size:18px;}
.support_con .Wrapcon dl dd{padding:35px 35px 0px 35px; text-align:center; font-size:14px; color:#000000;}
.support_con .Wrapcon dl dd img{ margin-bottom:5px; }